body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden; /* prevent horizontal scrolling */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-sizing: border-box; /* makes sure padding is included in width */
}

main {
    width: 90vw; /* take up 90% of the viewport width */
    max-width: 1200px; /* limit the maximum width */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e9e9;
    padding: 30px;
    border: 10px solid #326630;
    margin: 20px 0; /* remove side margins, maintain top and bottom */
    text-align: center;
    box-sizing: border-box; /* makes sure padding and border are included in width */
}

#responsiveText {
    font-size: 18px;
    transition: font-size 0.5s ease-in-out;
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 9 / 16 = 0.5625 or 56.25% */
    background-color: #ffffff; /* set a background color for visualization */
}

canvas {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border: 3px dashed #326630;
    display: block;
}

@media only screen and (max-width: 600px) {
    #responsiveText {
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px) {
    main {
        width: 95vw; /* slightly increase the width for medium screens */
    }
}

/* CSS Animation: Change color on hover */
header:hover {
    background-color: #4553a0;
    transition: background-color 0.5s ease-in-out;
}

/* Button styling */
#go3DButton {
    margin-left: 20px; /* Add some spacing between the text and the button */
    background-color: #4CAF50;
    border: none;
    padding: 1px 5px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Align icon and text vertically */
}

#go3DButton .icon {
    margin-right: 10px; /* Add some spacing between the icon and the text */
    font-size: 20px;
}

#go3DButton:hover {
    background-color: #4553a0;
}

.canvas-utils {
    display: flex;
    align-items: center; /* Vertically align items in the center */
    justify-content: center; /* Horizontally center the items */
    gap: 20px; /* Space between flex items */
}

#go3DButton .icon svg {
    vertical-align: middle;  /* aligns the SVG with the text */
    margin-right: 10px;     /* space between the SVG icon and the text */
}

.dg.main {
    top: 4% !important;
    right: auto !important;
    left: 4% !important;
    position: absolute !important;  /* This ensures it's positioned within its parent */
}